body{
    background-color: beige;
    }
    
    .header{
        /* background-color: beige; */
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        justify-content: center;
        align-items: center;
    }
    
    .inputs{
        /* background-color: aquamarine; */
        display: flex;
      
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .searchbar{
        width: 400px;
        border: solid black;
        
    }
    
    .submitbutton{
        width: 100px;
        font-size: medium;
        border:solid black;
        background-color: black;
        color: whitesmoke;
    }
    h2{
    color: black;
    text-align: center;
    }